.appnamediv {
    display: inline-block;
    text-transform: uppercase;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 30px;
}

span.appname {
    color: #535456;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 60px;
}

.page-header .page-header-top .page-logo {
    width: auto;
    display: inline-block;
}

div.page-header {
    height: auto;
}

a.cardaddBox {
    border: 6px solid #6CB1E9;
    height: 200px;
    border-top: none;
    border-left: none;
    background: lightgrey;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

a.cardaddBox:hover {
    background: #efefef;
    text-decoration: none;
}

h1.titlepart {
    border-bottom: 2px solid #6CB1E9;
    padding-bottom: 10px;
}

ul.typeplainte li.typeplainteligne {
    margin-top: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    border-bottom: 1px dashed lightgrey;
}

ul.typeplainte li.typeplainteligne span.textPart {
    display: inline-block;
    width: 45%;
    text-align: left;
}

ul.typeplainte li.typeplainteligne span.bulletPart {
    display: inline-block;
    width: 45%;

}

ul.quickmenu li.theitemmenu a {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px dotted lightgrey;
}

ul.quickmenu li.theitemmenu:hover {
    background: #eeeeee;
}

ul.quickmenu li.theitemmenu:hover a {
    text-decoration: none;
    padding-left: 5px;
}

ul.appreciationStyle {
    margin: 0;
    padding: 0
}

ul.appreciationStyle > li {
    font-size: 1.3em;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed lightgrey;
}

ul.appreciationStyle > li  span.labelPArt {
    width: 30%;
    display: inline-block;
}

ul.appreciationStyle > li  span.labelCnt {
    width: 60%;
    display: inline-block;
    font-style: italic;
}

ul.shortQuickLink{
    font-size:1.4em;
    margin-top:6px;
    margin-bottom:0
}
ul.shortQuickLink li{
    padding-top: 3px;
    padding-bottom: 3px;
    border-right:1px solid grey;

}
ul.shortQuickLink li:last-child{
    border-right:none;
}
ul.shortQuickLink li>a{
    color:#F08100
}
